{% extends 'storehome.html' %}
{% block shome %}
<h1 class="bg-success display-4 text-center">ADD PRODUCTS</h1>
    {% if messages %}
    {% for msg in messages %}
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    
    <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{msg}}</strong>
    </div>
    {% endif %}
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{msg}}</strong>
    </div>
    {%endif%}
    {%endfor%}
    {%endif%}
<form action="" method="post" enctype="multipart/form-data" class="text-center">
    {% csrf_token %}
  <table class="table table-dark">
    {{form.as_p}}
<tr><td colspan="2"><button class="btn btn-success">Submit</button></tr></td>    
  </table>
</form>
{% endblock shome %} 
