{%extends 'home.html'%}
{% block home %}
  <h1 class="text-center">Registration</h1>
  {% if messages %}
    {% for msg in messages %}
     {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    
     <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{msg}}</strong>
    </div>
    {% endif %}

    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{msg}}</strong>
    </div>
    {%endif%}
    {%endfor%}
  {%endif%}

<body>
  <form action="" method="post">
    {%csrf_token%}
    <table class="table table-light">
      {{form.as_table}}
    </table>
      <p><button>Register</button></p>
  </form>
</body>
{%endblock home%}